.card {
    font-family: "Noto Sans JP";
    font-size: 20px;
    text-align: center;
    color: #555753;
    background-color: #eeeeec;
}

.sentence {
    padding-top: 30px;
    font-size: 20px;
}

.translation {
    padding-top: 15px;
    color: #808080;
}

ruby rt {
    visibility: hidden;
}

ruby:hover rt {
    visibility: visible;
}
